@use "./base.scss";
@use "sass:map";

// redefine breakpoints
$breakpoints: (
  mobile: 800px,
  desktop: 1200px,
);

$mobile: "(max-width: #{map.get($breakpoints, mobile)})";
$tablet: "(min-width: #{map.get($breakpoints, mobile)}) and (max-width: #{map.get($breakpoints, desktop)})";

// hide left sidebar
.left {
  display: none !important;
}

// top spacing
.page-header {
  margin: 2rem 0 0 !important;
}

// page padding
.page {
  padding-left: 4rem !important;
  padding-right: 12rem !important;
    
  @media all and ($tablet) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media all and ($mobile) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.right {
  padding: 2rem 2rem 2rem !important;
}

// hide lines
hr {
  display: none;
}

// fix grid
.page {
  & > #quartz-body {
    grid-template-columns: 1fr 320px !important;
    grid-template-areas: 
      "grid-header grid-sidebar-right"
      "grid-center grid-sidebar-right"
      "grid-footer grid-sidebar-right" !important;

    @media all and ($tablet) {
      grid-template-columns: 1fr !important;
      grid-template-areas: 
        "grid-header"
        "grid-sidebar-right"
        "grid-center"
        "grid-footer" !important;
    }

    @media all and ($mobile) {
      grid-template-columns: 1fr !important;
      grid-template-areas: 
        "grid-header"
        "grid-sidebar-right"
        "grid-center"
        "grid-footer" !important;
    }
  }
}

// math formatting
.katex {
  margin-top: 10px;
  margin-bottom: 10px;
}
